.eventActions {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.selectYear {
  height: 60px;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fast,
.next {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.fast:hover,
.next:hover {
  transform: scale(1.01) translateY(-3px);
  background: var(--color-primary);
  color: #fefefe;
}

.active {
  background: var(--color-primary);
  color: #fefefe;
}

.events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.childEvent {
  width: 100%;
  height: auto;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;

  transition: all 0.2s ease;

  &:hover {
    background: #e7e7e7;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1) inset;
    transform: scale(1.01) translateY(-3px);
  }
}

.date {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .childDate {
    padding: 0.5rem 0.7rem;
    background: var(--color-primary);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .calendar {
    padding: 0.5rem 0.7rem;
    background: var(--color-primary);
    border-radius: 0.3rem;
    color: #fefefe;
    font-size: 1.3rem;
    text-transform: uppercase;

    mat-icon {
      color: var(--color-secondary);
      font-size: 3rem;
      width: auto;
      height: auto;
      line-height: 1;
      margin-right: 0.5rem;
    }
    span {
      color: var(--color-secondary);
    }
  }
}

.iconText {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  mat-icon {
    color: var(--color-gray);
    font-size: 2rem;
    width: auto;
    height: auto;
    line-height: 1;
    margin-right: 0.5rem;
  }

  span {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-gray);
  }
}
