<section class="pages mt-2">
  <div class="content mt-2">
    <h1 class="fadeIn">Nuestros Eventos</h1>
    <div class="line fadeIn"></div>

    <div class="eventActions fadeIn">
      <div class="selectYear">
        <div
          class="fast"
          [class.active]="currentTimeFilter === 'upcoming'"
          (click)="filterTime('upcoming')"
        >
          Próximos
        </div>

        <div
          class="next"
          [class.active]="currentTimeFilter === 'past'"
          (click)="filterTime('past')"
        >
          Anteriores
        </div>
      </div>

      <div class="childEventActions fadeIn">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de evento</mat-label>
          <mat-select (selectionChange)="filterEvents($event.value)">
            <mat-option value="all">All</mat-option>
            @for (item of allEvents$ | async; track $index) {
              <hr />
              <mat-option [value]="item.event_type">
                {{ item.event_type }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="events fadeIn mt-2">
      @for (item of events$ | async; track $index) {
        <div class="childEvent">
          <div>
            <div class="date">
              <div class="childDate">
                {{ item.event_type }}
              </div>
              <div class="childDate">
                <span>{{ item.month }}</span>
                <span>{{ item.day }}</span>
              </div>
            </div>

            <div class="location">
              <mat-icon fontIcon="location_on"></mat-icon>
              {{ item.location.city }}
            </div>

            <h2>{{ item.title }}</h2>

            <div class="modality mt-2">
              <mat-icon fontIcon="check_circle"></mat-icon>
              <span>{{ item.modality }}</span>
            </div>
          </div>

          <div class="btnValid mt-2">
            <span>{{ item.cta.label }}</span>
          </div>
        </div>
      }
    </div>
    <!--Fin eventos  -->
  </div>
</section>
