* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #003399;
  --color-primary-dark: #152663;
  --color-secondary: #00a3e4;
  --color-secondary-dark: #15539b;
  --color-tertiary: #00ccff;
  --color-quaternary: #6777ef;
  // --color-quinary: #681291;
  --color-quinary: #9b0461;
  --color-error: #960202;
  --color-green: #28a745;
  --color-green: #28a745;
  --color-gray: #7f858a;
  --color-gray-dark: #999;
  --color-dark: #08052a;
  --color-gray-light: #f7f7f7;

  --color-card-header: #f7f7f7;
}
