<footer>
  @if (language() === 'en') {
    <div class="copyrigth">
      <!-- <p>Phone: {{ chamberInfo.phone }}</p> -->

      <p>{{ chamberInfo.address }}</p>
      <p>{{ chamberInfo.address_secondary }}</p>
      <p class="text-center">
        © All rights reserved 2024 - {{ year }}, {{ title }}
      </p>
    </div>
  } @else {
    <div class="copyrigth">
      <!-- <p>Phone: {{ chamberInfo.phone }}</p> -->

      <p>{{ chamberInfo.address }}</p>
      <p>{{ chamberInfo.address_secondary }}</p>
      <p class="text-center">
        © All rights reserved 2024 - {{ year }}, {{ title }}
      </p>
    </div>
  }
</footer>
