<main class="pages">
  <div class="content fadeIn">
    <div class="misionVision">
      <div>
        <h3>Mission</h3>
        <p>
          At American Chamber Commerce, we are the bridge that connects
          businesses with their clients and with the world. We create legal and
          business solutions that facilitate regulatory compliance and drive
          business expansion, accompanying them from the present into a future
          of limitless growth.
        </p>

        <h3>Vision</h3>
        <p>
          We are a global community that inspires, connects, and drives business
          development without limits, where every company—big or small—already
          lives the future it envisions.
        </p>
      </div>

      <div class="image">
        <img src="./assets/webp/about/new-york.webp" alt="" />
      </div>
    </div>

    <h3>Values</h3>
    <ol>
      <li>
        <strong> Unwavering Integrity <br /> </strong>
        We act with honesty and transparency in every action, ensuring that our
        business and legal processes are carried out without ambiguity or
        improper practices.
      </li>

      <li>
        <strong> Strict Compliance <br /> </strong>
        We respect and enforce all local and international regulations,
        promoting legality as the foundation of business growth.
      </li>

      <li>
        <strong> Trust and Responsibility <br /> </strong>
        We safeguard the relationship between businesses, clients, and the
        community, taking responsibility for every connection we facilitate and
        ensuring it is legitimate and beneficial for all parties.
      </li>

      <li>
        <strong> Professional Excellence <br /> </strong>
        We hold ourselves to high standards of quality in our services,
        delivering clear, precise, and reliable guidance that supports business
        success.
      </li>

      <li>
        <strong> Commitment to Business Ethics <br /> </strong>
        We reject any practice that undermines legality, justice, or the common
        good, strengthening a transparent and sustainable business ecosystem.
      </li>

      <li>
        <strong> Safety and Protection <br /> </strong>
        We safeguard the information, assets, and reputation of the companies
        that trust us, ensuring a secure environment for operation and growth.
      </li>
    </ol>
  </div>
</main>
