<!-- <app-banner class="fadeIn" title="Sobre nosotros" [banner]="banner" [alt]="title" /> -->

<main class="pages">
  <div class="content fadeIn">
    <div class="misionVision">
      <div>
        <h3>Misión</h3>
        <p>
          En American Chamber Commerce somos el puente que conecta empresas con
          sus clientes y con el mundo. Creamos soluciones legales y
          empresariales que facilitan el cumplimiento normativo y potencian la
          expansión de los negocios, acompañándolos desde el presente en su
          camino hacia un crecimiento sin fronteras.
        </p>

        <h3>Visión</h3>
        <p>
          Somos una comunidad global que inspira, conecta e impulsa el
          desarrollo empresarial sin límites, donde cada negocio —grande o
          pequeño— ya vive el futuro que imagina.
        </p>
      </div>

      <div class="image">
        <img src="./assets/webp/about/new-york.webp" alt="" />
      </div>
    </div>

    <h3>Valores</h3>
    <ol>
      <li>
        <strong> Integridad inquebrantable <br /> </strong>
        Actuamos con honestidad y transparencia en cada acción, garantizando que
        nuestros procesos empresariales y legales se desarrollen sin
        ambigüedades ni prácticas indebidas.
      </li>

      <li>
        <strong> Cumplimiento estricto <br /> </strong>
        Respetamos y hacemos respetar todas las normativas locales e
        internacionales, promoviendo la legalidad como base para el crecimiento
        empresarial.
      </li>

      <li>
        <strong> Confianza y responsabilidad <br /> </strong>
        Protegemos la relación entre empresas, clientes y comunidad, siendo
        responsables de cada conexión que facilitamos y asegurando que sea
        legítima y beneficiosa para todas las partes.
      </li>

      <li>
        <strong> Excelencia profesional <br /> </strong>
        Nos exigimos altos estándares de calidad en nuestros servicios,
        ofreciendo asesoría clara, precisa y confiable que respalde el éxito
        empresarial.
      </li>

      <li>
        <strong> Compromiso con la ética empresarial <br /> </strong>
        Rechazamos cualquier práctica que atente contra la legalidad, la
        justicia o el bienestar común, fortaleciendo un ecosistema empresarial
        transparente y sostenible.
      </li>

      <li>
        <strong> Seguridad y protección <br /> </strong>
        Velamos por la protección de la información, los activos y la reputación
        de las empresas que confían en nosotros, asegurando un entorno confiable
        para operar y crecer.
      </li>
    </ol>
  </div>
</main>
