<section class="pages mt-2">
  <div class="content mt-2">
    <h1 class="fadeIn">Nuestras Membresías</h1>
    <div class="line fadeIn"></div>
    <h4>
      Haz crecer tu empresa con el respaldo de la American Chamber Commerce.
    </h4>
    <p>
      Nuestras membresías están diseñadas para adaptarse a las distintas
      necesidades y etapas de tu negocio, brindándote acceso exclusivo a
      herramientas, conexiones estratégicas y beneficios que marcarán la
      diferencia en tu desarrollo empresarial.
    </p>

    <p>
      Con cualquiera de nuestras categorías (Silver, Gold, Platinum o Patron),
      disfrutarás de ventajas como acceso a nuestras publicaciones,
      asesoramiento especializado, participación en eventos y oportunidades
      únicas de networking. A medida que avances en tu nivel de membresía,
      obtendrás beneficios adicionales como invitaciones VIP, promoción
      destacada de tu marca, campañas personalizadas y acceso preferencial a la
      Gala Anual.
    </p>

    <p>
      Cada plan está pensado para ofrecerte transparencia total, sin costos
      ocultos ni condiciones ambiguas, garantizando que el valor de tu inversión
      se traduzca en crecimiento real para tu empresa.
    </p>

    <p>
      Elige la membresía que mejor se ajuste a tu estrategia y comienza a
      conectar con líderes empresariales, instituciones y oportunidades en todo
      el mundo.
    </p>

    <!-- Membresías -->
  </div>
</section>
