<section class="pages mt-2">
  <div class="content mt-2">
    <h1 class="fadeIn">Our Memberships</h1>
    <div class="line fadeIn"></div>
    <h4>
      Grow your business with the support of the American Chamber Commerce.
    </h4>
    <p>
      Our memberships are designed to adapt to the different needs and stages of
      your business, providing you with exclusive access to tools, strategic
      connections, and benefits that will make a difference in your business
      development.
    </p>

    <p>
      With any of our categories (Silver, Gold, Platinum, or Patron), you will
      enjoy advantages such as access to our publications, specialized advisory
      services, participation in events, and unique networking opportunities. As
      you move up in your membership level, you will gain additional benefits
      such as VIP invitations, enhanced brand promotion, personalized campaigns,
      and preferential access to the Annual Gala.
    </p>

    <p>
      Each plan is designed to offer you total transparency, with no hidden
      costs or ambiguous conditions, ensuring that the value of your investment
      translates into real growth for your business.
    </p>

    <p>
      Choose the membership that best fits your strategy and start connecting
      with business leaders, institutions, and opportunities worldwide.
    </p>

    <!-- Memberships -->
    <!-- @let data = memberships$ | async;

    @if (memberships$ | async) {
      <p>Annual Membership</p>
      <div class="bodyWrapper">
        <div class="memberships">
          @for (membership of data?.memberships; track $index) {
            @if (membership.price_usd === 0) {
              <div class="membershipHeaderLine">
                <p>{{ membership.category }}</p>
              </div>
            } @else {
              <div class="membershipHeader">
                <p>{{ membership.category }}</p>
                <span>{{ membership.price_usd | currency: 'USD' }}</span>
              </div>
            }
          }
        </div>
      </div>
    } -->

    <h2>Annual Membership</h2>
    <div class="line"></div>
    <div class="bodyWrapper">
      <div class="memberships">
        <div class="membershipHeaderLine">
          <p>Option</p>
        </div>

        <div class="membershipHeaderLine">
          <p>Silver</p>
          <span>$150.00</span>
        </div>

        <div class="membershipHeader">
          <p>Gold</p>
          <span>$220.00</span>
        </div>
        <div class="membershipHeader">
          <p>Platinum</p>
          <span>$500.00</span>
        </div>
        <div class="membershipHeader">
          <p>Diamond</p>
          <span>$700.00</span>
        </div>
      </div>
    </div>
    <!-- Options -->
    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Access to all official Chamber publications.</span>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Full access to the job portal.</span>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Assistance with visa processing, with standard priority.</span>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>
        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Access to special offers and discounts from other Chamber
            members.</span
          >
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Advisory and updates on matters related to the FDA.</span>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Invitations to all Chamber-organized events (no priority in
            registration).</span
          >
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Discounts on services offered by the Chamber.</span>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Inclusion of announcements in the monthly newsletter sent to
            members.</span
          >
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Special promotion at Chamber board meetings.</span>
        </div>

        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Number of guests allowed at events: </span>
        </div>
        <div class="benefitsTrue">
          <span>1</span>
        </div>
        <div class="benefitsTrue">
          <span>2</span>
        </div>
        <div class="benefitsTrue">
          <span>3</span>
        </div>
        <div class="benefitsTrue">
          <span>5</span>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Company logo on the Chamber's website with a direct link.</span>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>VIP invitations to exclusive events.</span>
        </div>
        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Publication of articles, news, and events in the Chamber
            newsletter.</span
          >
        </div>
        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Personalized e-mailing services to promote events/services.</span
          >
        </div>
        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Limited free access to meeting rooms at the New York office.</span
          >
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Invitation to the Chamber's annual meeting.</span>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span
            >Possibility of hosting personalized webinars (up to 2 per
            year).</span
          >
        </div>
        <div class="benefitsFalse">
          <mat-icon fontIcon="cancel"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Access to the Annual Gala.</span>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <div class="bodyWrapper">
      <div class="bodyContent">
        <div class="contentText">
          <span>Active participation in Chamber-organized events.</span>
        </div>
        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>

        <div class="benefitsTrue">
          <mat-icon fontIcon="check_circle"></mat-icon>
        </div>
      </div>
    </div>

    <!-- Form -->
    <app-form-memberships />
  </div>
</section>
